
doctype html
html(lang='en', dir='ltr')
	include ../partial/head
	body
		include ../module/header

		div(class='page')
			block page

		include ../module/footer
		include ../partial/handlebars_templates

		script(type='text/javascript', src='/js/app.js')
		script.
			window.App.getInstance();
