head
	title(itemprop='name')= 'title'
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
	meta(name='viewport', content='width=device-width, initial-scale=1')

	link(rel='stylesheet', type='text/css', href='/css/app.css')
	link(rel='stylesheet', type='text/css', href='/css/font.css')
	link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=latin,latin-ext')

	script(src="http://threejs.org/build/three.min.js")
	script(src="http://davidscottlyons.com/threejs/presentations/frontporch14/iframes/three/controls/OrbitControls.js")